<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TD0NY17KLR"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TD0NY17KLR');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <title>Downloader</title>
</head>

<body>
    <div class="main">
        <img src="/static/main.header.svg">
        <div class="content">
            <h1>Reading Orders Downloader</h1>
            <hr>
            <p>Copy and paste any reading order URL in the box below
                to download an Excel or CSV file of all the comics in that reading order.
            </p>
            <form action="{{ url_for('getInput')}}" method="post">
                <label><strong>Comic URL</strong></label><br>
                <input type="text" name="input"><br>
                <input type="submit" name="Excel" value="Download Excel">
                <input type="submit" name="CSV" value="Download CSV">
            </form>
            <br>

            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}

            <a href="https://comicbookreadingorders.com">Back to reading orders</a>
        </div>
    </div>
    <footer>
        <ul>
            <li> <a class="footer-link" href="https://github.com/jacob-armiger/comic-list-web-scraper" target="blank">Source Code</a></li>
            <li> <a class="footer-link" href="https://github.com/jacob-armiger" target="blank">Creator</a></li>
        </ul>
    </footer>
</body>
</html>