html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

	font-family: 'Lato', sans-serif;
	color: #3a3a3a;

  background: url("/static/new.background.black.svg") center center;
  background-size: cover;
  background-color: #C1C1C1;
  
  margin:0;
  padding:0;
}

/*.header {
  background-image: url("../main.header.svg");
  margin: 0 auto;
  text-indent: -9999px;
  width: 981px;
  height: 180px;
}
.header:before {
  content:url("../main.header.svg");
  display: block;
  object-fit: fill;
  line-height: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
*/
.header {
  width: 100%;
  max-width: 962px;
}

.main {
  flex-grow: 1;
	text-align: center;

  background-color: white;
  border: 2px solid #C1C1C1;
  border-bottom: none;
  border-top: none;

  width: 100%;
  max-width: 960px;
  min-width: 250px;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

.content {
  padding: 0px 40px 0px 40px;
}

hr {
  border: 1px solid #e42525;
}

input[type=text] {
	font-size: large;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
	font-size:medium;
  color: white;
  background:#e42525; 
  border:1px solid black;

  width: 150px;
  padding:5px 15px;
  margin-top: 4px;

  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

/*FOOTER CSS*/
footer {
  background-color: white;
  padding-bottom: 40px;
  
  width: 100%;
  max-width: 960px;

  height: 50px;
}

ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

li {
  width: 100%;
}

.footer-link {
  text-decoration: none;
  color: #c01c1c;
}

.footer-link:hover {
  color: rgb(255, 196, 0);
}