body {
  display: flex;
  align-items: center;
  justify-content: center;

	font-family: 'Lato', sans-serif;
	color: #3a3a3a;

  background: url("/static/new.background.black.svg");
  background-size: 100%;
  background-color: #C1C1C1;

  margin:0;
  padding:0;
}

.main {
	text-align: center;
  background-color: white;
  border: 2px solid #C1C1C1;

  max-width: 900px;
  min-width: 250px;

	margin: auto;
	padding: 0px;
}

.main img {
  max-width: 100%;
}

.content {
  padding: 0px 30px 0px 30px;
}

hr {
  border: 1px solid #e42525;
}

input[type=text] {
	font-size: large;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
	font-size:medium;
  width: 150px;
  padding:5px 15px;
  margin-top: 4px;
  color: white;
  background:#e42525; 
  border:1px solid black;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

/*FOOTER CSS*/
footer {
  background-color: white;

  position: absolute;
  padding-bottom: 40px;
  bottom: 0;

  width: 900px;

  height: 50px;
}

ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

li {
  width: 100%;
}

.footer-link {
  text-decoration: none;
  color: #c01c1c;
}

.footer-link:hover {
  color: rgb(255, 196, 0);
}